@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mitch and Alex's stock analyzer that kicks some serious tush</h1>
    <h2 class="display-2"><a href="https://localhost:44345/stocks">StockControllerLink</a>.</h2>
    <p><a href="https://github.com/AlexCarroll5/Alphavantagecoreapi">you wanna see this shit on github?</a>.</p>
</div>
